<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0.11" package="com.eardatek.special.atsc" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <meta-data android:name="android.support.VERSION" android:value="25.3.1" />
    <application android:theme="@style/AppTheme" android:label="@string/app_label" android:icon="@mipmap/atsc_lauch" android:name="com.eardatek.special.player.system.DTVApplication" android:allowBackup="true" android:largeHeap="true" android:supportsRtl="true">
        <activity android:label="@string/app_label" android:name="com.eardatek.special.player.actitivy.HomePageActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.eardatek.special.player.actitivy.BaseActivity" />
        <activity android:name="com.eardatek.special.player.actitivy.SwipeBackBaseActicity" />
        <activity android:name="com.eardatek.special.player.actitivy.EardatekVersion2Activity" android:screenOrientation="portrait" android:configChanges="keyboard|orientation|screenSize|layoutDirection" android:windowSoftInputMode="stateUnchanged|stateHidden|stateAlwaysHidden|stateAlwaysVisible|adjustPan|adjustNothing" />
        <activity android:name="com.eardatek.special.player.actitivy.ScanChannelActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
        <activity android:name="com.eardatek.special.player.actitivy.SettingActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
        <activity android:name="com.eardatek.special.player.actitivy.ShowEpgActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
        <activity android:name="com.eardatek.special.player.actitivy.BridgeSettingActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1" />
    </application>
</manifest>
